{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ],
    ["transform-object-rest-spread"]
  ]
}
